body{
    background-color: rgba(238, 138, 155, 0.733);
}
h1{
    text-align: center;
    font: optional;
}
.txt1{
    text-align: center;
    font-size: larger;
}
.txt2{
    text-align: center;
}
.button{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 100px;
    height: 25px;
    background-color: rgb(238, 130, 162);
    border-radius: 30px;
}
.txtpass{
    text-align: center;
    width: 112px;
    height: 19px;
    border-radius: 30px;
}
.log{
    font-size: medium;
}
div.div_senha{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}